{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block body %}
<div>
  <div class="horizontal-container">
    <h1><strong>The WegMenu</strong></h1>
    <h2>Designed to assist people with dietary restrictions, food preferences, costs, and religious dietary constraints.</h2>
    <h2>Construct a customized weekly diet plan.</h2>
  </div>
     <video loop muted autoplay="autoplay">
       <source src="../static/videos/Steak.mp4" type="video/mp4">
	 Your browser does not support the video tag.
     </video>
     </div>
{% endblock %}
