<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css' ) }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css' ) }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js' ) }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js' ) }}"></script>
    {% block css %} {% endblock %}
    <title>
      {% block title %} {% endblock %}
    </title>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navby" role="navigation">
      <a class="navbar-brand" href="/">The WegMenu</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><img src="{{ url_for('static', filename='img/icon_dropdown.png' ) }}" alt="x" /></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>

      </div>
    </nav>
    {% block body %} {% endblock %}
    {% block js %} {% endblock %}
  </body>

</html>
