<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css' ) }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css' ) }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js' ) }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js' ) }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/icons/logo.png' ) }}">
    {% block css %} {% endblock %}
    <title>
      {% block title %} {% endblock %}
    </title>

  </head>

    <nav class="navbar navbar-expand-lg navby" role="navigation">
      <a id="brand" href="/">The WegMenu</a>
      <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><img src="{{ url_for('static', filename='img/icon_dropdown.png' ) }}" alt="x" /></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">-->
	{% if 'user' in session %}
	  <form method="POST" class="search" action="/search">
	    <input required placeholder="What're you craving?" name="query" class="search-bar" type="text"></input>
	    <button type="submit">Search</button>
	  </form>
	  <ul class="navbar-links">
	  <a href="prefs">My Preferences</a>
	  <li>
	    <a href="/planner"> My Planner </a>
	  </li>
	  <li>
	    <a href="/logout"> Logout </a>
	  </li>
	  </ul>
          {% else %}
	  <ul class="navbar-links">
	  <li>
            <a href="/about">About</a>
          </li>
	  <li>
            <a href="/login">Sign In</a>
          </li>
	  <li>
            <a href="/signup">Register</a>
          </li>
	  </ul>
	  {% endif %}
	<!</div>>
    </nav>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="error">
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    </div>
    {% endif %}
    {% endwith %}
    
    {% block body %} {% endblock %}
    {% block js %} {% endblock %}

</html>
