{% extends "base.html" %}

{% block title %}Weekly Meal Plan{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/calendar.css') }}">
{% endblock %}

{% block body %}
<div id="weekly-calendar">

  {% if calendar == None %}
  <h3> You don't have any recipes right now, try searching for some recipes! </h3>
  {% else %}
  {% set DAYS = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"] %}
  <table>
    <tr>
      {% for day in DAYS %}
      <th>{{day}}</th>
      {% endfor %}
    </tr>
    <tr>
      {% for day in DAYS %}
      <td>
        <ul>
          {% if day.upper() in calendar %}

          {% for recipe in calendar[day.upper()] %}
          <li>
            {{recipe['label']}}
          </li>
          {% endfor %}

          {% endif %}
        </ul>
      </td>
      {% endfor %}
    </tr>
  </table>
  {% endif %}
</div>
{% endblock %}
