{% extends "base.html" %}

{% block title %}Preferences{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<div>
    <form action="update_prefs" method="POST">
      <input type="checkbox" name="vegetarian" value="vegetarian">
      <label for="vegetarian">Vegetarian</label><br>
      <input type="checkbox" name="vegan" value="vegan">
      <label for="vegan">Vegan</label><br>
      <input type="checkbox" name="kosher" value="kosher">
      <label for="kosher">Kosher</label><br>
      <input type="checkbox" name="gluten_free" value="glutenfree">
      <label for="gluten_free">Gluten Free</label><br>
      <input type="checkbox" name="nut_free" value="nut_free">
      <label for="nut_free">Nut Free</label><br>
      <input type="checkbox" name="soy_free" value="soy_free">
      <label for="soy_free">Soy Free</label><br>
      <input type="checkbox" name="lactose_free" value="lactose_free">
      <label for="lactose_free">Lactose Free</label><br>
      <input type="submit">
    </form>
</div>
{% endblock %}
