video {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
    overflow: hidden;
    z-index: 0;
}

video::-webkit-media-controls {
  display: none;
}

.horizontal-container {
    text-align: center;
    position: absolute;
    top: 45%;
    height: auto;
    padding: 1em;
    color: white;
    width: 70%;
    left: 15%;
    margin-right: auto;
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(87,6,37,1) 35%, rgba(206,130,120,1) 100%);
    border: thin solid #8A6D70;
    box-shadow: 0 0 .1vw #8A6D70;
}

.horizontal-container h1 {
    font-size: 3em;
}

.horizontal-container h2 {
    font-size: 1.5em;
}
