html{
    height: 100%;
    font-family: "Times New Roman", Times, serif;
}

body {
    font-family: "Times New Roman", Times, serif;
    //background-image: url("/static/img/background.png");
    //background-repeat: no-repeat;
    //background-size: cover;
    background-color: #F7F4EF;
    height: 100%;
}

/* NAVBAR ----------------------------------*/
.navbar {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(87,6,37,1) 35%, rgba(206,130,120,1) 100%);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em 2em;
    background-color: #CE8278;
    font-size: 1.25em;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    z-index: 1;
    display: inline-block;
}

.navbar-links {
    position: fixed;
    right: 0vw;
    top: 1vw;
    overflow: hidden;
    margin-right: 2vw;
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar-links li {
    right: 0vw;
}

.navbar a {
    text-shadow: 0 0 .3vw #570625, 0 0 .5vw #CE8278;
    margin-right: .5em;
    padding: 0em .5em;
    color: #F7F4EF;
    text-decoration: none;
}

.navbar p {
    text-shadow: 0 0 .3vw #570625, 0 0 .5vw #CE8278;
    margin-right: .5em;
    padding: 0em .5em;
    color: white;
}

.navbar-links li a:hover {
    color: yellow;
    text-decoration: underline;
}

.navbar-toggler{
    right: 5vw;
}

.nav-item {
    padding-left: 1vw;
    padding-right: 1vw;
}

.collapse.navbar-collapse {
    font-size: 1em;
}

#brand {
    left: 2vw;
}

/* FOOTER ---------------------------------------
.footer {
    font-family: "Times New Roman", Times, serif;
    postion: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.5vw;
    color: white;
    font-size: 1.5em;
    text-align: center;
    background: linear-gradient(90deg, rgba(206,130,120,1) 0%, rgba(87,6,37,1) 65%, rgba(2,0,36,1) 100%);
    background-color: #570625;;
}*/

/* PARALLAX --------------------------------------*/
#paral1 {
    transition-timing-function: ease-in-out;
    background-image: url("../img/parallax1-hover.jpeg");
    height: 80%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*#paral1:hover, #paral1:active {
    transition-timing-function: ease-in-out;
    transition-duration: .25s;
    transition-delay: .25s;
    background-image: url("../img/parallax1.jpeg");    
}*/

#paral2 {
    //-webkit-transition: .25s;
    background-image: url("../img/parallax2.jpeg");
    height: 60%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*#paral2:hover, #paral2:active {
    transition-duration: .25s;
    -webkit-transition: 1s;
    background-image: url("../img/parallax1.jpeg");
}*/

/* HOME VIEW COMPONENTS --------------------------*/
#welcome-message{
    position: absolute;
    text-align: center;
    background-color: #8A6D70;
    color: white;
    top: 40%;
    width: 50%;
    right: 25%;
    margin-left: auto;
    padding: 1vw;
    border-radius: 1em 2em;
    box-shadow: 0 0 .5vw #570625;
}

#welcome-message h1 {
    font-size: 2.5em;
}
#welcome-message p {
    font-size: 1em;
}

/* CONTAINERS/CONTENT ----------------------------*/
.divider-left, .divider-right {
    text-align: center;
    color: white;
    width: 100%;
    height: .5vw;
}

div {
    width: 100%;
}

.divider-left {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(87,6,37,1) 35%, rgba(206,130,120,1) 100%);
}

.divider-right {
    background: linear-gradient(90deg, rgba(206,130,120,1) 0%, rgba(87,6,37,1) 65%, rgba(2,0,36,1) 100%);
}

.container {
    text-align: center;
    background-color: #F0C78A;
    color: white;
    width: 100%;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding: 1vw;
}

.container h1{
    font-size: 3em;
    padding: 1vw;
}

.container p{
    font-size: 1em;
}

.split {
    font-size: 1.5em;
    display: flex;
    width: 100%;
    text-align: center;
    overflow-x: hidden;
}

.left {
    left: 0;
    width: 50%;
    height: 70%;
}

.left img {
    border: .45em solid black;
    object-fit: contain;
    width: 100%;
}

.right {
    right: 0;
    width: 50%;
    height: 70%;
}

.right img {
    border: .5em solid black;
    border-botton: .5em solid black;
    width: 100%;
}

.error {
    position: absolute;
    background-color: #8A6D70;
    top: 3.2vw;
    text-align: center;
    color: white;
    padding: 2vw .25vw .25vw .25vw;
}

.flashes {
    list-style-type: none;
    font-size: 1.25em;
}

/* SEARCH -----------------------------------------------*/
.search {
    display: inline-block;
    position: fixed;
    top: 1vw;
    margin-left: 35%;
}

.search-bar {
    font-size: .8em;
    padding: .1vw .5vw;
    width: 24vw;
    display: inline-block;
    border: none;
    background-color: #F7F4EF;
}

.search button {
    font-size: 1vw;
    display: inline-block;
    border: none;
    background-color: #F0C78A;
}

.search button:hover {
    background-color: #F2AC89;
}
