#weekly-calendar {
    position: relative;
    text-align: center;
    top: 5vw;
}

#weekly-calendar h2 {
    margin-top: 5vw;
}

#weekly-calendar table, th, td {
    border: thin solid black;
    font-size: 1em;
}

#weekly-calendar table {
    margin-top: 4vw;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}

#weekly-calendar th {
    padding: 1vw 2vw;
    background-color: #CE8278;
    color: #570625;
}

#weekly-calendar td {
    font-size: .8em;
}

#meal-plans {
    text-align: left;
}

#meal-plans td {
    text-size: 1em;
}

#meal-plans td ul {
    margin: .5vw;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

#meal-plans li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#meal-plans li form {
    border: none;
    text-align: right;
    display: inline-block;
    margin: .5vw;
    position: relative;
}

#meal-plans input[type=submit] {
    background-color: #CE8278;
    color: white;
    border: none;
    font-size: 1em;
    text-align: right;
    display: inline-block;
    margin: 0vw .5vw;
    position: relative;
    border-radius: 1vw 1vw;
}

#meal-plans input[type=submit]:hover {
    background-color: red;
}
