#prefs {
    postition: relative;
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(87,6,37,1) 35%, rgba(206,130,120,1) 100%);
    margin-top: 8vw;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 25vw;
    padding: .5vw;
    text-align: center;
    color: white;
}

#checklist {
    font-size: 1.25em;
    color: white;
    padding: 2vw; .5vw;
    text-align: left;
    margin-bottom: 1vw;
}

#checklist form {
    margin-bottom: 1vw;
}

#checklist form label {
    font-size: 1em;
    margin-left: 2vw;
}

#checklist form input[type=checkbox] {
    margin-left: 5vw;
    width: 1vw;
}

#checklist form input[type=submit] {
    float: right;
    border: none;
    color: white;
    padding: .5vw 2vw;
    background-color: rgba(87,6,37,1);
}
