body {
    background-color:  #F7F4EF;
}

.search-results {
    margin-top: 6vw;
    margin: 5%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.search-results h2 {
    font-size: 1.5em;
}

.search-results table, th, td {
    background-color: white;
    font-size: 1.25vw;
    border: thin solid #570625;
}

.search-results th {
    color: white;
    text-shadow: 0 0 .3vw #570625, 0 0 .5vw #CE8278;
    background-color: #CE8278;
    padding: .5vw;
}

.search-results td {
    margin-left: .5vw;
}

.search-results table {
    width: 100%;
}

.search-images {
    border: thin solid #570625;
    width: 10vw;
}

.search-item {
    margin: 1vw;
    color: black;
    font-size: 1vw;
}

.search-labels {
    padding: 0vw 1vw;
    font-size: .75em;
}

.image-col {
    text-align: center;
    background-color: #570625;
}

button {
    background-color: #CE8278;
    border: none;
    font-size: .9em;
    color: white;
    border-radius: .1vw .1vw;
}

button:hover {
    background-color: #F2AC89;
}

select {
    margin-left: .5vw;
    background-color: #F2AC89;
    border: none;
    font-size: .9em;
    color: white;
}

.calendar-add {
    margin: 1vw;
}

.calendar-add option, .calendar-add select, .calendar-add button {
    margin-left: 5%;
    margin-right: 5%;
    width: 80%;
}
