html {
    height: auto;
}

body {
    background-image: url("../img/signup.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.signup {
    postion: absolute;
    text-align: left;
    background-color: #8A6D70;
    color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vw;
    margin-bottom: 11vw;
    padding: 3vw 2vw;
    border-radius: 1vw 1vw;
    box-shadow: 0 0 .1vw #8A6D70;
}

.signup h1 {
    text-shadow: 0 0 .3vw #570625, 0 0 .5vw #CE8278;	
    font-size: 2em;
    text-align: center;
    color: white;
}

.signup label {
    text-shadow: 0 0 .3vw #570625, 0 0 .5vw #CE8278;
    color: white;
}

.signup button, .signup button:disabled {
    color: white;
    position: relative;
    background-color: #CE8278;
    border: #CE8278;
    font-size: 1em;
    float: right;
    margin-bottom: .25vw;
}

.signup button:hover, .signup button:active {
    background-color: #F2AC89;
    border: #F2AC89;
    box-shadow: none;
}
